@import '../../../styles//global/variable';

.badge {
  font-weight: 300;
  font-size: 10px;
  color: #fff;
  background-color: $primary;
  border-radius: 2px;
  padding: 5px 10px !important;
  display: inline-block;
}
