@import '../../../styles/global/variable';

.list {
  padding: 0;
  margin: 0;
  li {
  }

  &--disc {
    list-style-type: disc;
    padding-left: 15px;
  }

  &--no-style {
    list-style: none;
  }

  &--col-2 {
    column-count: 1;

    @media (min-width: $sm) {
      column-count: 2;
    }
  }

  &--inline {
    list-style-type: none;

    li {
      display: inline-block;

      &:not(:last-child) {
        margin: 0 5px 5px 0;
      }
    }
  }
}
