// global
@import './global/variable';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

// components
@import './components/image';

* {
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
  font-size: 14px;
}

.main-container {
  @extend .container;
  &--adjustment {
    padding: 70px 15px;
  }
}
