// global
@import './global/variable';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/react-image-gallery/styles/scss/image-gallery.scss';

// components
@import './components/image';

// vendors
@import './vendors/react-image-gallery';

* {
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
  font-size: 14px;
}

.main-container {
  @extend .container;
  &--adjustment {
    padding: 70px 15px;

    @media (min-width: $sm) {
      padding: 70px 5px;
    }
  }
}
